absl-py
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
distro
dynamixel-sdk
exceptiongroup
flatbuffers
fonttools
h11
httpcore
httpx
idna
jax
jaxlib
jiter
kiwisolver
loguru
matplotlib
mediapipe
ml_dtypes
numpy
openai
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
pip
protobuf
pycparser
pydantic
pydantic_core
pynput
pyparsing
pyserial
python-dateutil
requests
rich
scipy
setuptools
six
sniffio
sounddevice
tencentcloud-sdk-python
tqdm
typing-inspection
typing_extensions
urllib3
wheel
win32_setctime
